body{
  background-image: url(4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.earth {
  width: 350px;
  height: 350px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
/*   box-shadow: 0 0 20px 20px #020202 inset, 0 0 20px 2px #848181; */
}

.earth:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.earth > div {
  width: 200%;
  height: 100%;
  animation: spin 15s linear alternate infinite;
  background: url(2.jpg);
  background-attachment: fixed;
  background-size: cover;
  /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
  background-size: cover;
}
@keyframes spin {
  to {
    transform: translateX(-50%);
    rotate: 5deg;
    scale: 1.2;
  }
}
